body {
    font-family: 'Arial', sans-serif;
    margin: 0;
  }
  
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    min-height: 100vh;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin-bottom: 50px;
    animation: fadeIn 2s ease-in-out;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
   
  }
  
  h1 {
    
    font-weight: bold;
    color: #2f2f30;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.5rem;
    color: #434446;
    margin-bottom: 20px;
  }
  
  ul {
    padding-left: 20px;
    list-style: none;
    font-size: 1.3rem;
  }
  
  li {
    font-size: 1.3rem;
    color:#2f2f30;
    margin-bottom: 10px;
  }
  
  /* Animations */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  