/* Edit.css */
.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .edit-user-form {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  
  .edit-user-form h1 {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    color: #0057b3cf; /* Matching Login page heading color */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-group input:focus,
  .form-group select:focus {
    outline: none;
    border-color: #0056b3; /* Matching Login page focus color */
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
  }
  
  button {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #003f88;
  }
  